.headerContainer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5F6F9;
    margin-bottom: 2%;

}

.imgContainer {
    align-self: center;
    margin: auto;
}

.backBtn {
    cursor: pointer;
}