/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-brown: #44281D;
  --light-brown: #E4A788;
  --light-yellow: #EFE04B;
  --light-green: #98CD4D;
  --light-pink: #E899C7;
}




/*styling the text */

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}


h3 {
  font-size: 16px;
}

h3 {
  font-size: 13px;
}


/* Remove anchor text decoration */
a {
  text-decoration: none;
  line-height: 10px;
  color: black;
}